// Basic SASS Column Styling
.content {
	@include grid-column(12);
}

.skills {
	@extend %content-section-styling;
	background: $red;
	
	h3 {
		color: $white;
	}

	.column {
		@include grid-column(12);
		@extend %content-section-columns;
		
		padding-top: $sectionPadding/2;

		@media #{$medium-up} {
			@include grid-column(6);
			padding-top: $writingSectionPadding;
		}
		@media #{$large-up} {
			@include grid-column(4);
		}

		i, p {
			color: $white;
		}
		i {
			font-size: 2.8em;
			margin-right: 10px;
		}
	}
} 