@import "app";
@import "_custom-settings";

// Mixins for section layout

@mixin content-columns($column1: 7, $column2: 5) {
  .column-one {
    @include grid-column($column1);
  }
  .column-two {
    @include grid-column($column2);
  }
}

// Extends for section layout

%content-section-styling {
    padding: $sectionPadding 0;
}
%content-section-columns {
  i {
    text-align: center;
    float: left;
  }
  p {
    margin-top: -5px;
    margin-bottom: 0;
  }
}
%writings-headings {
	h2 + * {
		padding-top: $sectionPadding/3;
	}
	h3 + * {
		padding-top: $sectionListPadding/2;
	}
}
%nav-back {
	position: absolute;
	top: 1.5em;
	z-index: 100;

	a {
		&:hover {
			text-decoration: none;
		}
	}
	p {
		color: $white;
		background: $grey;
		padding: .5em 1em;
	 	margin: 0;

 		&:hover {
			background: darken($grey, 10%);
		}
	}
	i {
	  	padding-right: 5px;
	}
}
// Universal footer styling
%footer {
  background: white;

	.content {
		padding: 1em $sectionColumnGutter;

		h4 {
		  margin: 0;
		}
		i {
			margin-left: .3em;
			font-size: 1.3em;
		}
	}
}
%vertical-align {
	-webkit-transform-style: preserve-3d;
	-moz-transform-style: preserve-3d;
	transform-style: preserve-3d;
  
  	// Find better way to abstract this
  	img {
		position: relative;
		top: 50%;
		-webkit-transform: translateY(-50%);
		-ms-transform: translateY(-50%);
		transform: translateY(-50%);
	}
}
// Mixin to control section background and color tint
@mixin background($filename: none, $repeat: no-repeat, $bgsize: cover, $bgcolor: none, $bgattachment: scroll) {
    background: transparent url(#{$filename}) $repeat;
    background-size: $bgsize;
    background-attachment: $bgattachment;

  .tint-wrapper {
    height: 100%;
    // Make this variable
    background-color:$bgcolor;
  }
}

// Mixin for calc function
@mixin calc($property, $expression) {
  // Default fallback value
  #{$property}: 100%;
  #{$property}: -moz-calc(#{$expression});
  #{$property}: -webkit-calc(#{$expression});
  #{$property}: calc(#{$expression});
}

// Mixin for CSS multi column support
@mixin columns($number, $columnGap) {
  column-count:$number;
  -moz-column-count:$number; /* Firefox */
  -webkit-column-count:$number; /* Safari and Chrome */

  	-webkit-column-gap: $columnGap; /* Chrome, Safari, Opera */
	-moz-column-gap: $columnGap; /* Firefox */
    column-gap: $columnGap;
}

// Mixins for Font Awesome Rotation
@mixin fa-icon-rotate($degrees, $rotation) {
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=#{$rotation});
  -webkit-transform: rotate($degrees);
     -moz-transform: rotate($degrees);
      -ms-transform: rotate($degrees);
       -o-transform: rotate($degrees);
          transform: rotate($degrees);
}

@mixin fa-icon-flip($horiz, $vert, $rotation) {
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=#{$rotation});
  -webkit-transform: scale($horiz, $vert);
     -moz-transform: scale($horiz, $vert);
      -ms-transform: scale($horiz, $vert);
       -o-transform: scale($horiz, $vert);
          transform: scale($horiz, $vert);
}