// Basic SASS Column Styling
.content {
	@include grid-column(12);
}

.column-text {
	@extend %content-section-styling;
	@extend %writings-headings;
			
	padding: $writingSectionPadding 0 0;

	// If section is first/last, use alternate padding values
	&.first {
		padding-top: $sectionPadding;
	}
	&.last {
		padding-bottom: $sectionPadding;
	}
	
	.column {

		&.columns {
			@include columns(1, 0);

			@media #{$medium-up} {
				@include columns(2, 2em);
			}
		}

		p {
			// Overwriting default padding
			margin-bottom: 0; 

			+ p {
				padding-top: 1em;
			}
		}
	}
}