// Basic SASS Column Styling
.content {
	@include grid-column(12);
}

.image {
	@extend %content-section-styling;
	padding: 0;
	margin: 3em 0 0;
	background: $lightGrey;

	img {
		width: 100%;
	}
	.image-caption {
		font-size: 1em;
		width: inherit;
		height: auto;
		background: rgba(0, 0, 0, 0.9);
		color: $white;
		padding: 1em 0.9375rem;
	}

	// If section is first/last, use alternate padding values
	&.first {
		padding-top: $sectionPadding;
	}
	&.last {
		padding-bottom: $sectionPadding;
	}
}